<div class="row">
	<div class="modal-demo">
		<button type="button" class="btn btn-warning button1" (click)="openModal()">Add +</button>
	</div>
</div>

<div class="row mt-2">
	<app-data-table class="display" style="width:90%" [dtOptions]="dtOptions" [data]="dtOptions.data"></app-data-table>
</div>

<ng-template #modalComponent let-modal>
	<div class="modal-header">
		<h4 class="modal-title pull-left"> {{ modalTitle }} </h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="modal-body">
		<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
			<div class="form-group row">
				<label for="emp_Name" class="col-sm-4 col-form-label">Employee Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" formControlName="emp_Name" id="emp_Name" required>
					<span *ngIf="!userForm.get('emp_Name').valid && userForm.get('emp_Name').touched && userForm.get('emp_Name').errors.required"
						class="help-block"> Please enter a valid name</span>
				</div>
			</div>
			<div class="form-group row">
				<label for="dept_Name" class="col-sm-4 col-form-label">Department Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" formControlName="dept_Name" id="dept_Name">
					<span *ngIf="!userForm.get('dept_Name').valid && userForm.get('dept_Name').touched"
						class="help-block"> Please enter a valid name</span>
				</div>
			</div>
			<div class="form-group row">
				<label for="org_Name" class="col-sm-4 col-form-label">Organization Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" formControlName="org_Name" id="org_Name">
					<span *ngIf="!userForm.get('org_Name').valid && userForm.get('org_Name').touched"
						class="help-block"> Please enter a valid name</span>
				</div>
			</div>
			<div class="form-group row">
				<label for="age" class="col-sm-4 col-form-label">Age</label>
				<div class="col-sm-8">
					<input type="number" class="form-control" formControlName="age" id="age" required>
					<span *ngIf="!userForm.get('age').valid && userForm.get('age').touched && userForm.get('age').errors.required && userForm.get('age').errors.minlength" class="help-block"> Please
						enter a valid number</span>
				</div>
			</div>
			<div class="form-group row">
				<label for="salary" class="col-sm-4 col-form-label">Salary</label>
				<div class="col-sm-8">
					<input type="number" class="form-control" formControlName="salary" id="salary" required>
					<span *ngIf="!userForm.get('salary').valid && userForm.get('salary').touched && userForm.get('salary').errors.required" class="help-block">
						Please enter a valid number</span>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Close</button>
				<button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Save changes</button>
			</div>
		</form>
	</div>

</ng-template>