<p>Angular, Google’s JavaScript (TypeScript) framework for building web applications, mobile or desktop has over 55,000 stars on GitHub. Maintained by the Angular Team at Google and a host of community members and organizations, Angular Version 9 was released recently in beta (RC). A release candidate (RC) is a beta version with potential to be a stable product, which is ready to release unless significant bugs emerge. In this article, we shall take an overview of the new features in the version 9 changes and updates available for use now.</p>


